.taskForm {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 0.5rem;
    margin-top: -3.5rem;
}

.taskForm input {
    width: 100%;
    background: var(--gray-500);
    border: 0;
    height: 3rem;
    padding: 1rem;
    border-radius: 8px;
    color: var(--gray-300);
}

.taskForm button[type=submit] {
    height: 3rem;
    background: var(--blue-dark);
    color: var(--gray-100);
    border: 0;
    border-color: var(--gray-700);
    border-radius: 8px;
    cursor: pointer;
    padding: 1rem 1rem;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.taskForm button svg {
    margin-left: 0.25rem;
}